body {
  font-size: 12pt;
  position: relative;
  background: #eff0eb;
}

.describe {
  background-color: rgb(199, 203, 207);
  padding: 10px;
  font-family: serif;
  height: 100%;
}

h1 {
  margin-top: 15px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

p {
  margin-top: 15px;
  font-size: 1.2em;
}